.stepProgressBar {
	display: flex;
	align-items: center;
	gap: 20px;
}

.steps {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.backgroundEffect {
	position: absolute;
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.activeStepNumber {
	animation: scaleInAnimation 0.55s 0.2s ease-in-out forwards;
	background-color: transparent;
}

@keyframes scaleInAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
		background-color: red;
	}
}

.stepNumberAnimation {
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 100%;
}

.inActiveStepNumber {
	background-color: red;
	animation: scaleOutAnimation 0.5s ease-in-out forwards;
}

.progressLine {
	background-color: #191917;
	z-index: -1;
}

@keyframes scaleOutAnimation {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

.activeLine,
.progressLine {
	position: absolute;
	left: 50%;
	width: 2px;
	margin-top: 2px;
	height: 40px;
	top: 100%;
}

.activeLine {
	background-color: red;
	animation: lineDown 0.75s forwards;
}

@keyframes lineUp {
	0% {
		height: 100%;
	}
	100% {
		height: 0;
	}
}

.inActiveLine {
	background-color: red;
	animation: lineUp 0.75s forwards;
}

@keyframes lineDown {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
.certftn-prcss-outer-con {
	display: flex;
	max-width: 930px;
	margin-inline: auto;
}
.stepProgressBarContainer {
	min-width: fit-content;
}
.stepText {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-self: center;
}
@media (max-width: 800px) {
	.stepProgressBarContainer .fs-600 {
		display: none;
	}
	.certftn-prcss-outer-con {
		flex-direction: row-reverse;
		gap: 2.5rem;
	}
}
