.poster-heading {
	font-size: 12vh;
	font-weight: bold;
}
.page-poster-container {
	overflow: hidden;
	height: 40vh;
	position: relative;
	display: flex;
	justify-content: center;
}
.poster-background-shape {
	left: 50%;
	width: 30%;
	background-color: black;
	-ms-transform: skewX(-40deg);
	-webkit-transform: skewX(-40deg);
	transform: skewX(-40deg);
	z-index: -1;
}
.class-info-sum {
	padding: 3rem 22vw;
	text-align: center;
	font-size: var(--fs-650);
}
.class-info-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	margin-inline: auto;
	width: 65vw;
	gap: 2rem;
}
.payment-but-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.class-rec-con {
	display: grid;
	grid-template-columns: 280px 280px 280px 1fr;
	margin: 2rem 5rem;
}
.class-rec-item {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 270px;
}
.class-rec-con a:hover {
	opacity: 0.7;
}
.rec-program-info {
	height: 3rem;
	transition: 0.6s ease-out;
}
.class-rec-item:hover .rec-program-info {
	height: 100%;
}
.rec-program-sum {
	transition: 0.4s;
	opacity: 0;
}
.class-rec-item:hover .rec-program-sum {
	opacity: 1;
}
