.poster-heading {
	font-size: 15vh;
	font-weight: bold;
}
.class-info-outer-con .page-poster-container {
	overflow: hidden;
	height: 90vh;
	position: relative;
	display: flex;
	justify-content: center;
}
.class-info-outer-con .page-poster-container::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	z-index: -1;
	background-color: black;
	opacity: 0.5;
}
.class-info-sum {
	padding: 3rem;
	margin-inline: auto;
	max-width: 800px;
	text-align: center;
	font-size: var(--fs-650);
}
.class-info-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-inline: auto;
	max-width: 1260px;
	gap: 2rem;
	padding-inline: 2rem;
}
.class-info-grid img {
	width: 100%;
	height: 100%;
	max-height: 500px;
	object-fit: cover;
	padding: 0.5rem 0rem 1rem;
}
.payment-but-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.class-rec-con {
	display: grid;
	grid-template-columns: 280px 280px 280px auto;
	margin: 2rem auto;
	padding-inline: 3rem;
	max-width: 1540px;
}
.class-rec-item {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 270px;
}
.class-rec-con a:hover {
	opacity: 0.7;
}
.rec-program-info {
	height: 3.5rem;
	transition: 0.6s ease-out;
}
.class-rec-item:hover .rec-program-info {
	height: 100%;
}
.rec-program-sum {
	transition: 0.4s;
	opacity: 0;
}
.class-rec-item:hover .rec-program-sum {
	opacity: 1;
}
.rec-program-info .more-link {
	display: none;
}
@media (max-width: 1280px) {
	.class-rec-con {
		grid-template-columns: 280px 280px 280px;
		width: fit-content;
	}
	.class-rec-con .class-rec-item:nth-child(3) {
		display: none;
	}
}
@media (max-width: 940px) {
	.class-rec-con {
		grid-template-columns: 280px 280px;
		grid-template-rows: 1fr 1fr;
		width: fit-content;
	}
	.class-rec-con .all {
		grid-column: 2/3;
		border-bottom-right-radius: 7rem;
	}
	.class-rec-con .all p {
		display: none;
	}
	.rec-program-info .more-link {
		display: block;
	}
	.rec-program-info {
		height: 5rem;
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}
	.rec-program-sum {
		display: none;
	}
	.class-rec-item:hover .rec-program-info {
		height: 5rem;
	}
	.class-info-grid {
		grid-template-columns: 1fr;
		max-width: 640px;
	}
	.poster-heading {
		font-size: 3.5rem;
	}
	.page-poster-container .fs-minimal-heading {
		font-size: 1.5rem;
	}
	.class-rec-con .class-rec-item:nth-child(3) {
		display: flex;
	}
}
@media (max-width: 660px) {
	.class-rec-con {
		display: none;
	}
}
@media (max-width: 540px) {
	.page-poster-container .fs-minimal-heading {
		display: none;
	}
}
