.cal-container {
	max-width: 600px;
	max-height: 740px;
}
.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0.4rem;
}
.fc-header-toolbar .fc-toolbar {
	margin: 0px, 50px;
}
.fc-day-today {
	background: #82e1de8e !important; /* todays color we can make it transparent and stuff if u awnt */
}
.fc .fc-bg-event {
	background: #4a5ccf;
	opacity: 100;
	display: flex;
}
.event-title {
	align-self: center;
	width: 100%;
	text-align: center;
}
