.fc .fc-toolbar.fc-header-toolbar {
	margin: 0.4rem;
}
.fc-header-toolbar .fc-toolbar {
	margin: 0px, 3rem;
}
.fc-day-today {
	background: #e4ca0700 !important; /* todays color we can make it transparent and stuff if u awnt */
	border: 3px solid var(--clr-accent-400) !important;
}
.fc .fc-bg-event {
	background: #4a5ccf;
	opacity: 100;
	display: flex;
}
.event-title {
	align-self: center;
	width: 100%;
	text-align: center;
	color: #ffffff;
}
.fc-header-left,
.fc-header-center,
.fc-header-right {
	width: 100%;
	display: block;
}
/* .fc .fc-button {
	margin: 4px;
} */
