.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0.4rem;
}
.fc-header-toolbar .fc-toolbar {
	margin: 0px, 3rem;
}
.fc-day-today {
	background: #b6f5ed !important; /* todays color we can make it transparent and stuff if u awnt */
}
.fc .fc-bg-event {
	background: #4a5ccf;
	opacity: 100;
	display: flex;
}
.event-title {
	align-self: center;
	width: 100%;
	text-align: center;
	color: #f1e0db;
}
.fc-header-left,
.fc-header-center,
.fc-header-right {
	width: 100%;
	display: block;
}
