.btn {
	padding: 0.5rem 1.5rem;
	text-align: center;
	color: white;
	background-color: var(--clr-accent-400);
	border-radius: 4px;
	border: none;
	font-size: var(--fs-650);
	font-weight: bold;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	height: max-content;
	z-index: 1;
	position: relative;
	width: max-content;
}

.btn:enabled:hover {
	color: black;
}

.btn:after {
	content: '';
	background: white;
	position: absolute;
	z-index: -1;
	left: -20%;
	right: -20%;
	top: 0;
	bottom: 0;
	transform: skewX(-45deg) scale(0, 1);
	transition: all 0.7s;
}

.btn:hover:after {
	transform: skewX(-45deg) scale(1.1, 1.1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.btn:enabled:active {
	scale: 0.9;
	transition: scale 0.4s;
}
.btn:disabled {
	background: gray;
	color: #ccc;
	cursor: not-allowed;
}

.btn:disabled:after {
	background: none;
}

.classes-btn {
	display: flex;
	gap: 6px;
	padding: 0.5rem 1rem;
	align-items: center;
	flex-shrink: 0;
}

.navbar-btn {
	padding: 0.25rem 0.65rem;
}
.forgot-password-con .btn {
	background-color: #8686ff;
	border-radius: 8px;
}
