.card-carousel-event-container {
	border-radius: 20px;
	padding: 7rem 3rem;
	overflow: hidden;
	position: relative;
}
.card-carousel-event-container::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	z-index: -1;
	background-color: black;
	opacity: 0.5;
}
.card-carousel-event-container {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.swiper-scrollbar {
	display: none;
}

.grid-event-carousel {
	& .swiper {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	& .swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #000000;
		height: calc((100% - 30px) / 2) !important;

		/* Center slide text vertically */
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.carousel-container .swiper {
	padding-bottom: 2rem;
}
.carousel-container .swiper-pagination-bullet {
	background: var(--clr-primary-100);
}
.carousel-container .swiper-pagination-bullet-active {
	background: var(--clr-accent-400);
}
.carousel-container .swiper-wrapper {
	max-width: fit-content;
}

.carousel-container .swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
	border-radius: 20px;
}
@media (max-width: 910px) {
	.card-carousel-event-container {
		padding: 6rem 1.5rem;
	}
}
@media (max-width: 720px) {
	.card-carousel-event-container {
		padding: 5rem 1.5rem;
	}
}
