.card-carousel-event-container {
	border-radius: 20px;
	background-color: black;
	padding: 7rem 2.4rem;
	overflow: hidden;
	position: relative;
}
.swiper-scrollbar {
	display: none;
}
.swiper {
	padding-bottom: 2rem;
}
.swiper-pagination-bullet-active {
	background: var(--clr-accent-400);
}
.swiper-wrapper {
	max-width: fit-content;
}
.card-carousel-event-background {
	opacity: 0.5;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
	border-radius: 20px;
}
