.landingParagraph {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	max-width: 800px;
}

.landingPageContainer {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.landingPageContainer .paragraph {
	max-width: 40rem;
	margin-top: 1.2rem;
}
.milestone-cards li {
	padding: 0.7rem 0.7rem 1.5rem;
	border-top-right-radius: 0.6rem;
	border-top-left-radius: 0.6rem;
	width: 100%;
	position: relative;
	background-color: #27262f;
}
.milestone-cards li:nth-child(2n) {
	background-color: #f0f0f0;
	color: #0b0b0b;
}
.milestone-cards li:last-child {
	border-radius: 0.6rem;
}
.milestone-cards li:nth-child(3n) {
	/* background-color: #449669; */
	background-color: #27262f;
	color: white;
}
.milestone-cards li p {
	opacity: 0.7;
}
.milestone-cards {
	max-width: 450px;
	margin-inline: auto;
}
.main-welcome-text-outer-con {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin-inline: auto;
	gap: 1.5rem;
	align-items: center;
	padding-inline: 1.5rem;
	text-align: center;
}
.main-welcome-text-outer-con h1 {
	font-weight: bolder;
	font-size: 4.5rem;
}

@media (max-width: 1024px) {
	.landingPageContainer {
		display: flex;
		flex-direction: column;
		max-width: 750px;
		padding-inline: 1.5rem;
		align-items: center;
	}

	.landingPageContainer .paragraph {
		max-width: unset;
	}
	.milestones {
		display: none;
	}
	.event-carousel-outer-con h2 {
		font-size: var(--fs-750);
	}
	.milestone-cards {
		max-width: 600px;
	}
}
@media (max-width: 800px) {
	.cardContent {
		display: none !important;
	}
	#cards-title {
		display: none;
	}
	.main-welcome-text-outer-con h1 {
		/* text-shadow: -4px -4px var(--clr-accent-400); */
		font-size: 3rem;
	}
}
@media (max-width: 500px) {
	.main-welcome-text-outer-con h1 {
		/* text-shadow: -3px -3px var(--clr-accent-400); */
		font-size: 2.2rem;
	}
}
