.bannerLikeImageContainer {
	width: 100%;
	position: relative;
	height: 300px;
	overflow: hidden;
	background-color: transparent;
}

.landingParagraph {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.landingPageContainer {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
}

.landingPageContainer .paragraph {
	max-width: 40rem;
	margin-top: 1.4rem;
}

.milestones li:nth-child(n) {
	background-color: #0b0b0b;
}
.milestones li:nth-child(2n) {
	background-color: #f0f0f0;
	color: #0b0b0b;
}

.milestones {
	margin: 1.5rem;
}
.milestones li {
	padding: 0.7rem;
	border-radius: 0.5rem;
	width: fit-content;
}
.main-welcome-text-outer-con {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin-inline: auto;
	gap: 1.5rem;
	align-items: center;
	padding-inline: 1.5rem;
	text-align: center;
}
.main-welcome-text-outer-con h1 {
	font-weight: bolder;
	text-shadow: -7px -7px var(--clr-accent-400);
	font-size: 4.5rem;
}
@media (max-width: 1024px) {
	.landingPageContainer {
		display: flex;
		flex-direction: column;
		max-width: 750px;
		padding-inline: 1.5rem;
	}
	.landingPageContainer .paragraph {
		max-width: unset;
	}
	.milestones {
		display: none;
	}
}
@media (max-width: 800px) {
	.landingPageContainer .fs-650 {
		font-size: var(--fs-600);
		font-weight: bolder;
	}
	.cardContent {
		display: none !important;
	}
	#cards-title {
		display: none;
	}
	.main-welcome-text-outer-con h1 {
		text-shadow: -4px -4px var(--clr-accent-400);
		font-size: 3rem;
	}
}
@media (max-width: 500px) {
	.main-welcome-text-outer-con h1 {
		text-shadow: -3px -3px var(--clr-accent-400);
		font-size: 2.2rem;
	}
}
