.container {
	--max-width: 1110px;
	--container-padding: 1rem;
	width: min(var(--max-width), 100% - (var(--container-padding) * 2));
	margin-inline: auto;
	max-width: 100%; /* Prevents overflowing the viewport */
}

.border-container {
	/* todo used in the paginationcontainer but not imported */
	border: 2px solid var(--clr-neutral-100);
	border-radius: 8px;
	padding: 1rem 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	width: 100%;
}
.upcoming-events .border-container {
	height: 100%;
}
.selected-events .border-container {
	padding: 2rem;
}
.event-pagination-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1rem;
}
.event-pagination-container .active,
#eventInfoPagination .active {
	color: var(--clr-accent-400);
}
.event-pagination-item {
	margin-inline: 0.3rem;
}
.event-pagination-item:hover {
	opacity: 0.6;
}
.grid-event-item-container {
	display: flex;
	justify-content: center;
}
.scrolling-parent {
	position: fixed;
	top: 0;
	left: 0;
}

.hide {
	display: none;
}
