.cookiesBanner {
	width: 100%;
	padding: 2rem 4rem;
	z-index: 99999;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.cookiesButton {
	padding: 0.7rem 1.7rem;
	border-radius: 8px;
	width: max-content;
	flex-shrink: 0;
	font-weight: bolder;
}
.cookiesButton:hover {
	opacity: 0.8;
}

@media (max-width: 600px) {
	.cookiesBanner {
		flex-direction: column;
		padding: 1rem 2.5rem;
	}
}
