.contact-form-outer-container {
	align-items: center;
	width: 40vw;
	padding: 4rem 6rem;
	border-radius: 20px;
	position: relative;
	background-color: var(--clr-primary-trnsp);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.contact-name-input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
}
.contact-form-header {
	text-align: start;
}

.contact-form-background {
	z-index: -1;
}
#contact-form-grad {
	background-image: linear-gradient(
		var(--clr-primary-400),
		transparent,
		transparent
	);
}
input:-webkit-autofill {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--clr-neutral-100) !important;
} /* autofillde arkaplan olmasın diye */

textarea,
input {
	all: unset;
	margin: 0;
	padding: 0.8rem;
	border: 0;
	width: 100%;
	box-sizing: border-box;
}

input {
	padding: 0.8rem 0.5rem 0.3rem;
	border-bottom: 2px solid var(--clr-neutral-100);
}

.centerLineAnimation {
	position: relative;
}

.topCenterLineAnimation {
	width: 100%;
}

.custom-textarea {
	resize: none;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	/* border: 1px solid var(--clr-neutral-100); */
	border-right: 1px solid var(--clr-neutral-100);

	transition: border-top 0.5s ease;
	transition: border-right 0.5s ease;
}
.custom-textarea:hover {
	border-right: var(--clr-neutral-100) solid 1px;
}

.centerLineAnimation::before,
.topCenterLineAnimation::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: red;
	transition: width 0.5s ease, left 0.5s ease;
	left: 50%;
}

.centerLineAnimation::before {
	bottom: 0;
}

.topCenterLineAnimation::after {
	top: 0;
}

.centerLineAnimation:hover::before,
.topCenterLineAnimation:hover::after {
	width: 100%;
	left: 0;
}

.centerLineAnimation:focus-within::before,
.topCenterLineAnimation:focus-within::after {
	width: 100%;
	left: 0;
}

input::placeholder {
	color: #adadad;
}

input::-webkit-input-placeholder {
	color: #adadad;
}

input::-moz-placeholder {
	color: #adadad;
}

input:-ms-input-placeholder {
	color: #adadad;
}

input::-ms-input-placeholder {
	color: #adadad;
}
textarea::placeholder {
	color: #adadad;
}

textarea::-webkit-textarea-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-textarea-placeholder {
	color: #adadad;
}

textarea::-ms-textarea-placeholder {
	color: #adadad;
}
.authentication-form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 3rem 5rem;
	gap: 0.9rem;
	background-color: var(--clr-primary-trnsp);
}
.form-icon {
	position: absolute;
	top: 0.85rem;
}
.form-icon-active {
	padding-left: 1.5rem;
}
.authentication-button-container {
	display: flex;
	flex-direction: column;
	margin-top: auto;
}
.text-align-right {
	text-align: end;
}
@media (max-width: 1100px) {
	.contact-form-outer-container {
		padding: 4rem 3rem;
	}
}
@media (max-width: 990px) {
	.contact-form-outer-container {
		padding: 4rem 4rem;
		width: 100%;
		margin-inline: 0;
	}
	.contact-form {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding-inline: 20vw;
	}
}
@media (max-width: 720px) {
	.contact-form-outer-container {
		padding: 4rem 2rem;
	}
	.contact-form {
		padding-inline: 10vw;
	}
}
@media (max-width: 535px) {
	.contact-form-outer-container {
		border-radius: 0;
	}
	.contact-form {
		padding-inline: 0vw;
		height: fit-content;
		padding: 0;
	}
}
