/* autofillde arkaplan beyaz olmasın diye */
#contact-form-grad input:-webkit-autofill,
#contact-form-grad input:-webkit-autofill:hover,
#contact-form-grad input:-webkit-autofill:focus,
#contact-form-grad input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--clr-primary-500) inset !important;
	-webkit-background-clip: text;
}
.authentication-form-container input:-webkit-autofill,
.authentication-form-container input:-webkit-autofill:hover,
.authentication-form-container input:-webkit-autofill:focus,
.authentication-form-container input:-webkit-autofill:active,
.forgot-password-con input:-webkit-autofill,
.forgot-password-con input:-webkit-autofill:hover,
.forgot-password-con input:-webkit-autofill:focus,
.forgot-password-con input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--clr-primary-500) inset !important;
	-webkit-background-clip: text;
	color: white !important;
	-webkit-text-fill-color: white !important;
}
#contact-form-grad input,
#contact-form-grad textarea,
.authentication-form-container textarea,
.authentication-form-container input,
.forgot-password-con input {
	all: unset;
	margin: 0;
	padding: 0.8rem;
	border: 0;
	width: 100%;
	box-sizing: border-box;
}
#contact-form-grad input,
.authentication-form-container input,
.forgot-password-con input {
	padding: 0.8rem 0.5rem 0.3rem;
	border-bottom: 2px solid var(--clr-neutral-100);
}

.centerLineAnimation {
	position: relative;
	width: 100%;
}

.centerLineAnimation::before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: red;
	transition: width 0.5s ease, left 0.5s ease;
	left: 50%;
}

.centerLineAnimation::before {
	bottom: 0;
}

.centerLineAnimation:hover::before {
	width: 100%;
	left: 0;
}

.centerLineAnimation:focus-within::before {
	width: 100%;
	left: 0;
}

.authentication-form-container input::placeholder,
.contact-form input::placeholder {
	color: #adadad;
}

.authentication-form-container input::-webkit-input-placeholder,
.contact-form input::-webkit-input-placeholder {
	color: #adadad;
}

.authentication-form-container input::-moz-placeholder,
.contact-form input::-moz-placeholder {
	color: #adadad;
}

.authentication-form-container input:-ms-input-placeholder,
.contact-form input:-ms-input-placeholder {
	color: #adadad;
}

.authentication-form-container input::-ms-input-placeholder,
.contact-form input::-ms-input-placeholder {
	color: #adadad;
}
textarea::placeholder {
	color: #adadad;
}

textarea::-webkit-textarea-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-textarea-placeholder {
	color: #adadad;
}

textarea::-ms-textarea-placeholder {
	color: #adadad;
}

.form-icon {
	position: absolute;
	top: 0.85rem;
}
.form-icon-active {
	padding-left: 1.7rem !important;
}
.authentication-button-container {
	display: flex;
	justify-content: space-between;
}
.text-align-right {
	text-align: end;
}

/* Text area animation starts */
.divForBorder {
	height: fit-content;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	display: flex;
	/* flex removes text based browser stylings  */
}

.custom-textarea {
	position: relative;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
	border: 2px solid var(--clr-neutral-100) !important;
	height: 100%;
	width: 100%;
}

.textarea-bottom-left-line,
.textarea-bottom-right-line,
.textarea-top-left-line,
.textarea-top-right-line {
	position: absolute;
	height: 2px;
	background-color: red;
	width: 0;
	transition: all 0.5s ease;
}

.textarea-left-lower-line,
.textarea-left-upper-line,
.textarea-right-upper-line,
.textarea-right-lower-line {
	position: absolute;
	height: 0px;
	background-color: red;
	width: 2px;
	transition: all 0.5s ease;
}

.textarea-bottom-left-line {
	right: 50%;
	bottom: 0;
}
.textarea-bottom-right-line {
	left: 50%;
	bottom: 0;
}
.textarea-top-right-line {
	left: 50%;
	top: 0;
}
.textarea-top-left-line {
	right: 50%;
	top: 0;
}
.textarea-right-upper-line {
	top: 0%;
	right: 0;
}
.textarea-right-lower-line {
	bottom: 0%;
	right: 0;
}
.textarea-left-upper-line {
	top: 0%;
	left: 0;
}
.textarea-left-lower-line {
	left: 0;
	bottom: 0%;
}

@keyframes expand-bottomTop-borders {
	to {
		width: 50%;
	}
}

@keyframes expand-leftRight-borders {
	to {
		height: 50%;
	}
}

.divForBorder:hover .textarea-bottom-left-line,
.divForBorder:focus-within .textarea-bottom-left-line,
.divForBorder:hover .textarea-bottom-right-line,
.divForBorder:focus-within .textarea-bottom-right-line,
.divForBorder:hover .textarea-top-right-line,
.divForBorder:focus-within .textarea-top-right-line,
.divForBorder:hover .textarea-top-left-line,
.divForBorder:focus-within .textarea-top-left-line {
	animation: expand-bottomTop-borders ease forwards 0.75s;
}

.divForBorder:hover .textarea-right-upper-line,
.divForBorder:focus-within .textarea-right-upper-line,
.divForBorder:hover .textarea-right-lower-line,
.divForBorder:focus-within .textarea-right-lower-line,
.divForBorder:hover .textarea-left-upper-line,
.divForBorder:focus-within .textarea-left-upper-line,
.divForBorder:hover .textarea-left-lower-line,
.divForBorder:focus-within .textarea-left-lower-line {
	animation: expand-leftRight-borders 0.5s ease forwards 0.75s;
}
.forgot-password-con {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	padding-top: 3rem;
	overflow: hidden;
	margin: 5rem auto 0;
	background-image: linear-gradient(var(--clr-primary-500), 90%, #121314);
	-webkit-box-shadow: 0px 0px 17px 0px rgba(36, 36, 36, 0.45);
	-moz-box-shadow: 0px 0px 17px 0px rgba(36, 36, 36, 0.45);
	box-shadow: 0px 0px 17px 0px rgba(36, 36, 36, 0.45);
}
.forgot-password-con .centerLineAnimation::before {
	background-color: #8686ff;
}
.forgot-password-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 3rem 4rem 4rem;
	gap: 3rem;
}
.forgot-password-con .valid {
	color: rgb(137, 252, 137);
}
.forgot-password-con .invalid {
	color: rgb(255, 84, 84);
}
.forgot-password-con input[type='password'] {
	font-family: Verdana;
}
.forgot-password-icon > * {
	width: 6.5rem;
	height: 6.5rem;
	flex-shrink: 0;
	z-index: 10;
}
.forgot-password-icon {
	position: relative;
	width: fit-content;
	margin-inline: auto;
}
@media (max-width: 600px) {
	.forgot-password-con {
		max-width: none;
		border-radius: 0px;
		margin: 0;
		padding-top: 10rem;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: 100vh;
	}
	.forgot-password-form {
		max-width: 500px;
		max-height: 500px;
		width: 100%;
		justify-content: center;
		margin-inline: auto;
		padding: 3rem 3rem 4rem;
		gap: 4rem;
	}
}
