#contact-form-grad input,
.authentication-form-container input:-webkit-autofill {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--clr-neutral-100) !important;
} /* autofillde arkaplan olmasın diye */
#contact-form-grad input,
#contact-form-grad textarea,
.authentication-form-container textarea,
.authentication-form-container input {
	all: unset;
	margin: 0;
	padding: 0.8rem;
	border: 0;
	width: 100%;
	box-sizing: border-box;
}

#contact-form-grad input,
.authentication-form-container input {
	padding: 0.8rem 0.5rem 0.3rem;
	border-bottom: 2px solid var(--clr-neutral-100);
}

.centerLineAnimation {
	position: relative;
	width: 100%;
}

.centerLineAnimation::before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: red;
	transition: width 0.5s ease, left 0.5s ease;
	left: 50%;
}

.centerLineAnimation::before {
	bottom: 0;
}

.centerLineAnimation:hover::before {
	width: 100%;
	left: 0;
}

.centerLineAnimation:focus-within::before {
	width: 100%;
	left: 0;
}

.authentication-form-container input::placeholder {
	color: #adadad;
}

.authentication-form-container input::-webkit-input-placeholder {
	color: #adadad;
}

.authentication-form-container input::-moz-placeholder {
	color: #adadad;
}

.authentication-form-container input:-ms-input-placeholder {
	color: #adadad;
}

.authentication-form-container input::-ms-input-placeholder {
	color: #adadad;
}
textarea::placeholder {
	color: #adadad;
}

textarea::-webkit-textarea-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-textarea-placeholder {
	color: #adadad;
}

textarea::-ms-textarea-placeholder {
	color: #adadad;
}

.form-icon {
	position: absolute;
	top: 0.85rem;
}
.form-icon-active {
	padding-left: 1.5rem;
}
.authentication-button-container {
	display: flex;
	justify-content: space-between;
}
.text-align-right {
	text-align: end;
}

/* Text area animation starts */
.divForBorder {
	height: fit-content;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	display: flex;
	/* flex removes text based browser stylings  */
}

.custom-textarea {
	position: relative;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
	border: 2px solid var(--clr-neutral-100) !important;
	height: 100%;
	width: 100%;
}

.textarea-bottom-left-line,
.textarea-bottom-right-line,
.textarea-top-left-line,
.textarea-top-right-line {
	position: absolute;
	height: 2px;
	background-color: red;
	width: 0;
	transition: all 0.5s ease;
}

.textarea-left-lower-line,
.textarea-left-upper-line,
.textarea-right-upper-line,
.textarea-right-lower-line {
	position: absolute;
	height: 0px;
	background-color: red;
	width: 2px;
	transition: all 0.5s ease;
}

.textarea-bottom-left-line {
	right: 50%;
	bottom: 0;
}
.textarea-bottom-right-line {
	left: 50%;
	bottom: 0;
}
.textarea-top-right-line {
	left: 50%;
	top: 0;
}
.textarea-top-left-line {
	right: 50%;
	top: 0;
}
.textarea-right-upper-line {
	top: 0%;
	right: 0;
}
.textarea-right-lower-line {
	bottom: 0%;
	right: 0;
}
.textarea-left-upper-line {
	top: 0%;
	left: 0;
}
.textarea-left-lower-line {
	left: 0;
	bottom: 0%;
}

@keyframes expand-bottomTop-borders {
	to {
		width: 50%;
	}
}

@keyframes expand-leftRight-borders {
	to {
		height: 50%;
	}
}

.divForBorder:hover .textarea-bottom-left-line,
.divForBorder:focus-within .textarea-bottom-left-line,
.divForBorder:hover .textarea-bottom-right-line,
.divForBorder:focus-within .textarea-bottom-right-line,
.divForBorder:hover .textarea-top-right-line,
.divForBorder:focus-within .textarea-top-right-line,
.divForBorder:hover .textarea-top-left-line,
.divForBorder:focus-within .textarea-top-left-line {
	animation: expand-bottomTop-borders ease forwards 0.75s;
}

.divForBorder:hover .textarea-right-upper-line,
.divForBorder:focus-within .textarea-right-upper-line,
.divForBorder:hover .textarea-right-lower-line,
.divForBorder:focus-within .textarea-right-lower-line,
.divForBorder:hover .textarea-left-upper-line,
.divForBorder:focus-within .textarea-left-upper-line,
.divForBorder:hover .textarea-left-lower-line,
.divForBorder:focus-within .textarea-left-lower-line {
	animation: expand-leftRight-borders 0.5s ease forwards 0.75s;
}
