.instructions {
	color: white;
	position: absolute;
	padding-top: 0.25rem;
	font-size: 0.85rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: rgb(93, 255, 93);
	margin-left: 0.25rem;
}

.invalid {
	color: rgb(255, 63, 63);
	margin-left: 0.25rem;
}

.errmsg {
	color: rgb(255, 63, 63);
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}
.authentication-form-container {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
	max-width: 1000px;
	margin: 3rem auto;
	border-radius: 5px;
	overflow: hidden;
	--max-width: 1110px;
	--container-padding: 1rem;
	width: min(var(--max-width), 100% - (var(--container-padding) * 2));
}
.authentication-greeting-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 5rem 1rem 1rem;
	min-width: 290px;
}
.greeting-social-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.greeting-content-container {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 9rem;
	gap: 0.5rem;
}
.authentication-background {
	z-index: -1;
	opacity: 0.4;
}
.authentication-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 3rem 5rem;
	gap: 2rem;
	background-color: var(--clr-primary-trnsp);
}

.twoInputAreas {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.birthdate {
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendarIcon {
	position: absolute;
	right: 0;
}

@media (max-width: 1048px) {
	.authentication-form {
		padding: 3rem 3rem;
	}
	.authentication-form-container {
		margin-inline: auto;
		width: max-content;
		max-width: 95%;
	}
}
@media (max-width: 750px) {
	.authentication-greeting-container {
		display: none;
	}
	.authentication-form {
		margin-inline: auto;
	}
	.authentication-form-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 570px) {
	.authentication-form {
		padding: 3rem;
		width: 100vw;
		height: 100vh;
	}
	.authentication-form-container {
		max-width: 100%;
		margin: 0;
	}
}
@media (max-width: 570px) {
	.authentication-form {
		padding: 3rem 1.5rem;
	}
}
