.instructions {
	color: white;
	position: absolute;
	padding-top: 0.25rem;
	font-size: 0.85rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: rgb(93, 255, 93);
	margin-left: 0.25rem;
}

.invalid {
	color: rgb(255, 63, 63);
	margin-left: 0.25rem;
}

.errmsg {
	color: rgb(255, 63, 63);
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}
.authentication-form-container {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
	max-width: 1000px;
	margin-inline: 18rem;
	border-radius: 5px;
	overflow: hidden;
}
.authentication-greeting-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 5rem 3rem 1rem;
}
.greeting-social-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.greeting-content-container {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 9rem;
	gap: 0.5rem;
}
/* .greeting-social-icons .icon-light-container {
	border-radius: 15px;
	border: 1px solid white;
} */
/* .greeting-social-icons .icon-light-container:hover {
	opacity: 0.9;
	animation: pulse 0.3s linear 1;
} */
.authentication-background {
	z-index: -1;
	opacity: 0.4;
}
.icon-light-container {
	padding: 0.7rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0.2rem;
}
.icon-light-container:hover {
	opacity: 0.9;
	animation: pulse 0.3s linear 1;
}
@media (max-width: 1306px) {
	.authentication-form-container {
		margin-inline: 16rem;
	}
	.authentication-form {
		padding: 2rem 3rem;
	}
	.authentication-form-container {
		margin-inline: 16rem;
	}
	.authentication-form {
		padding: 2rem 3rem;
	}
}
@media (max-width: 1210px) {
	.authentication-form-container {
		margin-inline: 12rem;
	}
	.authentication-form {
		padding: 2rem 2rem;
	}
	.authentication-form-container {
		margin-inline: 12rem;
	}
	.authentication-form {
		padding: 2rem 2rem;
	}
}
@media (max-width: 1024px) {
	.authentication-form-container {
		grid-template-columns: 1fr;
	}
	.authentication-form {
		padding: 4rem;
	}
	.authentication-form-container {
		grid-template-columns: 1fr;
	}
	.authentication-form {
		padding: 4rem;
	}
}
@media (max-width: 780px) {
	.authentication-form-container {
		margin-inline: 6rem;
	}
	.authentication-form {
		padding: 4rem;
	}
	.authentication-form-container {
		margin-inline: 6rem;
	}
	.authentication-form {
		padding: 4rem;
	}
}
@media (max-width: 600px) {
	.authentication-form-container {
		margin-inline: 0;
	}
	.authentication-form {
		padding: 3rem;
	}
	.authentication-form-container {
		margin-inline: 0;
	}
	.authentication-form {
		padding: 3rem;
	}
}
