.special-event-outer-con {
	max-width: 900px;
	width: 80%;
	margin: 2rem auto;
}
.special-event-item-con {
	padding: 1rem;
	display: flex;
	flex-direction: row;
}
.special-event-item-reverse {
	display: flex;
	flex-direction: row-reverse;
	text-align: end;
}
.special-event-item-inner-con {
	padding: 2.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.special-event-item-inner-reverse-con {
	align-items: end;
}
.special-event-poster {
	width: 400px;
	object-fit: scale-down;
}
@media (max-width: 1250px) {
	.special-event-poster {
		width: 350px;
	}
	.special-event-item-inner-con {
		padding: 1rem 1.5rem;
	}
}
@media (max-width: 880px) {
	.special-event-item-con {
		flex-direction: column;
		text-align: center;
	}
	.special-event-item-reverse {
		flex-direction: column;
		text-align: center;
	}
	.special-event-item-inner-con {
		align-items: center;
		flex-direction: column;
		gap: 1.2rem;
		padding: 1rem;
	}
	.special-event-item-inner-reverse-con {
		align-items: center;
	}
	.special-event-outer-con {
		max-width: 500px;
		width: 95%;
	}
	.special-event-poster {
		align-self: center;
	}
}
@media (max-width: 1250px) {
}
@media (max-width: 1250px) {
}
