.contact-text {
	text-align: center;
	max-width: 700px;
	margin-inline: auto;
	padding-inline: 1rem;
	font-weight: bolder;
}
.contact-form-outer-container {
	align-items: center;
	max-width: 600px;
	padding: 4rem 4rem;
	border-radius: 20px;
	position: relative;
	background-color: var(--clr-primary-trnsp);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-inline: auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(43, 43, 43, 0.69);
	-moz-box-shadow: 0px 0px 20px 0px rgba(43, 43, 43, 0.69);
	box-shadow: 0px 0px 20px 0px rgba(43, 43, 43, 0.69);
}
.contact-name-input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
}
.contact-form-header {
	text-align: start;
}
.contact-form {
	padding: 4rem 2rem;
}
#contact-form-grad {
	background-image: linear-gradient(
		var(--clr-primary-400),
		transparent,
		transparent,
		var(--clr-primary-400)
	);
}
@media (max-width: 550px) {
	.contact-form-outer-container {
		border-radius: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.contact-form {
		padding: 0rem;
	}
}
@media (max-width: 480px) {
	.contact-form-outer-container {
		padding: 4rem 2rem;
	}
}
