.cardIcon {
	height: 40px;
	width: 40px;
	margin: 0.5rem;
}

.gridCardHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gridCard {
	padding: 1rem 1.5rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 15px;
	background-color: #171819;
	max-width: 430px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
	-moz-box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
}
.gridCard p {
	font-size: var(--fs-500);
	opacity: 0.9;
}
.gridCard h2 {
	font-size: var(--fs-650);
	font-weight: 700;
}

.gridCardContainer {
	display: grid;
	gap: 2rem;
	width: auto;
	justify-content: space-between;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: unset;
	max-width: 900px;
}
.bcm-instr-cards-logo {
	height: 4rem;
	position: relative;
	bottom: 2px;
}
.bcm-instr-cards-outer-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.bcm-instr-cards-outer-con .fs-primary-heading {
	gap: 1rem;
}

@media (max-width: 1045px) {
	.bcm-instr-cards-outer-con .fs-primary-heading {
		font-size: var(--fs-750);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	.bcm-instr-cards-logo {
		height: 3.5rem;
		bottom: 7px;
	}
	.gridCardContainer {
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		margin-inline: auto;
		align-items: center;
	}
}
