.cardIcon {
	height: 50px;
	width: 50px;
}

.gridCardHeading {
	display: flex;
	align-items: center;
}
.gridCard {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 15px;
	background-color: #191917;
	max-width: 430px;
	/*todo choose a secondary color? */
}

.gridCardContainer {
	display: flex;
	gap: 25px;
	flex-direction: column;
	margin-inline: auto;
	align-items: center;
	margin-top: 2rem;
}
.bcm-instr-cards-logo {
	height: 4rem;
	position: relative;
	bottom: 2px;
}
.bcm-instr-cards-outer-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.bcm-instr-cards-outer-con .fs-primary-heading {
	gap: 1rem;
}
@media (max-width: 1045px) {
	.bcm-instr-cards-outer-con .fs-primary-heading {
		font-size: 2rem;
	}
	.bcm-instr-cards-logo {
		height: 3rem;
		bottom: 7px;
	}
}
@media (max-width: 1045px) {
	.bcm-instr-cards-outer-con .fs-primary-heading {
		font-size: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	.bcm-instr-cards-logo {
		height: 3.5rem;
	}
}
@media (min-width: 50em) {
	.gridCardContainer {
		margin-inline: 2rem;
		display: grid;
		gap: 50px;
		width: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		align-items: unset;
		max-width: 900px;
	}
}
