.carddd {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: white;
	margin-inline: auto;
	margin-top: 20px;
}

span {
	position: absolute;
}

.top {
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: red;
}

.bottom {
	right: 0;
	bottom: 0;
	height: 5px;
	background-color: blue;
}

.right {
	top: 0;
	right: 0;
	width: 5px;
	height: 0;
	background-color: black;
}

.left {
	left: 0;
	bottom: 0;
	width: 5px;
	height: 0;
	background-color: green;
}

.carddd:hover .top {
	animation: animateTop 1s ease-in-out;
}

.carddd:hover .bottom {
	animation: animateBottom ease-in-out;
}

.carddd:hover .right {
	animation: animateRight 2s ease-in-out;
}

.carddd:hover .left {
	animation: animateLeft 4s ease-in-out;
}

@keyframes animateTop {
	25% {
		width: 100%;
		opacity: 1;
	}

	30%,
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes animateBottom {
	0% {
		opacity: 0;
		width: 0;
	}

	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes animateRight {
	0%,
	25% {
		opacity: 0;
		height: 0;
	}

	50% {
		opacity: 1;
	}

	55%,
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes animateLeft {
	0%,
	75% {
		opacity: 0;
		bottom: 0;
		height: 0;
	}

	100% {
		opacity: 1;
		width: 100%;
	}
}
