.container {
    --max-width: 1110px;
    --container-padding: 1rem;
    border: 2px solid red;
    color: purple;
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
  }

  