.nav-inner-container {
	width: 100vw;
	padding: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
}
.navigation-outer-container {
	background-color: var(--clr-primary-500);
	position: sticky;
	top: 0;
	z-index: 10;
}
.nav-container {
	display: flex;
	flex-direction: row;
}
.nav-list-container {
	gap: 2rem;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.nav-btn-container {
	justify-content: space-between;
	align-items: center;
	width: fit-content;
	gap: 0.2rem;
}

.nav-item-icon {
	height: 100%;
	width: 1.4rem;
}
.logo {
	display: block;
	width: clamp(5rem, 10vw, 20rem);
	padding: 0.8rem 0rem;
}
.nav-list-item {
	height: 100%;
	justify-content: center;
	padding: 0.4rem 0;
}
.nav-list-item:has(.active)::after {
	opacity: 1;
	transform: translateY(0px);
}
.nav-list-item:has(.active)::before {
	opacity: 1;
	transform: translateY(0px);
}
.nav-list-item a {
	height: 100%;
	display: block;
	align-items: center;
	justify-content: center;
	color: var(--clr-neutral-100);
	text-decoration: none;
}
.menu {
	display: none;
}
.menu-open {
	display: none;
}
.nav-list-item::before {
	content: '';
	width: 100%;
	background-color: white;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-10px);
	opacity: 0;
	transition: 0.3s;
}
.nav-list-item::after {
	content: '';
	width: 100%;
	background-color: white;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(10px);
	opacity: 0;
	transition: 0.3s;
}
.nav-list-item:hover::before {
	opacity: 1;
	transform: translateY(0px);
}
.nav-list-item:hover::after {
	opacity: 1;
	transform: translateY(0px);
}
/*
.nav-list-item a:not(.active):hover {
}
*/
.nav-list-item:has(.active) {
	background-color: #f0f8ff21;
}
@media (max-width: 800px) {
	.nav-menu-social-container {
		align-self: center;
		padding: 1rem 0;
		gap: 0.3rem !important;
	}
	.menu {
		display: flex;
		gap: 0.5rem;
	}

	.nav-list-container,
	.nav-btn-container {
		display: none;
	}

	.menu-open {
		display: flex;
		padding: 1rem 2rem;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 70%;
		position: fixed;
		right: 0;
		bottom: 0;
		background-color: var(--clr-primary-trnsp);
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		z-index: 10;
	}
	.menu-open hr {
		width: 100%;
	}
	.menu-open li {
		width: max-content;
	}
	.menu-inner-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
		width: 100%;
		margin-top: 0.5rem;
	}
	.navbar-xmark {
		align-self: flex-start;
		width: 1.5rem;
		height: 1.5rem;
		color: white;
	}
	.menu-open button {
		align-self: center;
	}
}
@media (max-width: 570px) {
	.menu-open {
		width: 100%;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
}
