.outer-container {
	width: 100%;
	justify-content: space-around;
	align-items: center;
	height: max-content;
}
.nav-container {
	display: flex;
	flex-direction: row;
}
.nav-list-container {
	gap: 2rem;
	height: 100%;
}
.nav-btn-container {
	justify-content: end;
	gap: 1.5rem;
	align-items: center;
	width: clamp(4rem, 20vw, 20rem);
}

.nav-item-icon {
	height: 3rem;
}
.logo {
	display: block; /* Ensure the image is not hidden */
	width: clamp(4rem, 20vw, 20rem);
}
.nav-list-container li {
	height: 100%;
}
.nav-list-container li :hover {
	background-color: #3b485d;
}
