.process-outer-con .page-poster-container {
	overflow: hidden;
	height: 20vw;
	position: relative;
	display: flex;
	justify-content: center;
}
.process-select-outer-con {
	max-width: 750px;
	margin-inline: auto;
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--clr-primary-400);
	border: solid 1px var(--clr-primary-200);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
	-moz-box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(51, 50, 51, 0.5);
}
.process-text-con {
	padding: 2rem;
	min-height: 256px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

/* .process-text-con {
	padding: 1.5rem 2rem 2.5rem;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
} fatmanin versionu */
.process-select-button-con {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 1.4rem;
}
.process-select-button-con button {
	padding: 0.5rem;
	width: 40%;
	text-align: center;
	border: solid 1px white;
	border-radius: 0.3rem;
	transition: 0.4s;
}
.process-select-button-con .inactive:hover {
	background-color: var(--clr-primary-300);
}
.process-select-button-con .active {
	background-color: var(--clr-accent-400);
	border: solid 1px var(--clr-accent-400);
	color: white;
}
.process-entry-text {
	margin-inline: auto;
	width: 40%;
	text-align: center;
	max-width: 580px;
	font-size: var(--fs-650);
}
.process-initial-list {
	font-size: var(--fs-600);
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	max-width: 1000px;
	gap: 1.5rem;
}
.process-contact-con p {
	max-width: 450px;
	text-align: center;
	margin-inline: auto;
	padding-inline: 1rem;
	font-size: 1.1rem;
}
.process-contact-con {
	padding: 2rem;
	margin: 4rem 0;
}
.process-contact-link:hover .process-contact-icon {
	animation: rotate 0.7s ease-in-out;
	-webkit-animation: rotate 0.7s ease-in-out;
	-moz-animation: rotate 0.7s ease-in-out;
}
.process-comparison-con {
	max-width: 900px;
	padding: 0px 2rem;
	margin-inline: auto;
}
.process-license-list li {
	margin-top: 0.5rem;
}
.licenseListIcon {
	width: 1.4rem;
	height: 1.4rem;
	margin-left: 1rem;
	margin-right: 0.6rem;
	display: float;
	float: left;
}
.listItemStyle {
	float: left;
	width: var(--fs-650);
	height: var(--fs-650);
	margin: 0px 0.6rem 0px 1.3rem;
}
@media (max-width: 550px) {
	.process-comparison-con {
		padding: 1rem;
	}
	.process-text-con {
		padding: 1.5rem 1rem 2.5rem;
	}
	.process-outer-con .page-poster-container {
		display: none;
	}
}
