.footer-container .footer-link-con a,
.footer-container .footer-link-container a {
	color: var(--clr-neutral-100) !important;
}
.footer-container {
	gap: 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}
.footer-outer-container {
	margin-top: 2rem;
	padding: 2rem;
}
.icon {
	transition: color 0.3s ease-in-out;
	margin-inline: auto;
	height: 100%;
	width: 1.4rem;
	height: 1.4rem;
}
/* .footer-outer-container .icon {
	width: 1.2rem;
} */
.footer-social-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 0.3rem;
}
.footer-horizontal-line {
	width: 30%;
	padding-inline: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer-link-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.footer-social-side {
	position: absolute;
	top: 0;
	transform: translate(-180%);
}
/* .icon:hover {
	color: rgb(238, 35, 60);
} */
/* .footer-social-slide::before {
	content: attr(data-duplicate);
} */
.icon-light-container {
	padding: 0.7rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0.2rem;
	border-radius: 30px;
	border: 1px solid white;
	overflow: hidden;
	animation: none;
	transition: 0.6s;
}
.icon-light-container:hover {
	border: 1px solid rgba(255, 255, 255, 0);
}
.social-icon-background {
	position: absolute;
	border-radius: 30px;
}
@media (max-width: 950px) {
	.footer-outer-container {
		padding: 2rem 1rem;
	}
	.footer-link-container {
		flex-direction: column;
	}
	.footer-container hr {
		display: none;
	}
	.footer-horizontal-line {
		width: 20%;
		padding-inline: 0.5rem;
	}
}
@media (max-width: 650px) {
	.footer-horizontal-line {
		display: none;
	}
}
