.upcoming-events-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}
.upcoming-events-container a {
	color: var(--clr-primary-100) !important;
	display: block;
	width: fit-content;
	justify-self: center;
}
.upcoming-events-container .class-logo {
	width: auto;
	max-height: 40px;
	height: auto;
}
@media (max-width: 1160px) {
	.upcoming-events-container .fs-700 {
		font-size: var(--fs-650);
	}
}
@media (max-width: 850px) {
	.upcoming-events-container #calendar-item-sum {
		display: none;
	}
}
