.upcoming-events-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.upcoming-events-container a {
	color: var(--clr-primary-100) !important;
}
