.fc .fc-toolbar.fc-header-toolbar {
	margin: 0.4rem;
}
.fc-header-toolbar .fc-toolbar {
	margin: 0px, 3rem;
}

.fc .fc-daygrid-day-number {
	padding: 0;
	z-index: 0;
}
.fc-header-left,
.fc-header-center,
.fc-header-right {
	width: 100%;
	display: block;
}

/* calendarın kendi borderını kapamak icin */
.fc-theme-standard td,
.fc-theme-standard th {
	border: none !important;
}
.fc .fc-scrollgrid {
	border-width: 0px !important;
}

.fc .fc-daygrid-day-top {
	display: flex;
	justify-content: center;
	align-self: center;
} /* gunleri ortalıyor */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
	min-height: 0;
} /* var olmayan eventlerin bos alan kaplamaması icin */
.fc .fc-daygrid-day-frame {
	display: flex;
	justify-content: center;
}
.fc a:hover {
	opacity: 1 !important;
}
.fc .fc-cell-shaded,
.fc .fc-day-disabled {
	background: none;
}

:root {
	--fc-today-bg-color: blue;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: transparent !important;
	position: relative;
}

.fc .fc-daygrid-day.fc-day-today::before {
	content: '';
	width: calc(100% - 1.4rem);
	height: calc(100% - 1.4rem);
	position: absolute;
	background-color: red;
	margin: 0.7rem;
	box-sizing: border-box;
	border-radius: 8px;
}

.fc .fc-bg-event {
	opacity: 100;
	display: flex;
	align-items: center;
	border-radius: 8px;
	background-color: cadetblue;
	/* todo give the proper coloring  */
	margin: 0.7rem;
}

.fc .fc-event-future {
	background-color: rgb(76, 5, 21) !important;
	padding: 1rem;
}
.fc .fc-event-future:hover {
	background-color: rgb(52, 2, 14) !important;
	animation: pulse 0.3s linear 1;
}
@media (max-width: 1650px) {
	.fc .fc-toolbar.fc-header-toolbar {
		font-size: var(--fs-400);
	}
}
@media (max-width: 1100px) {
	.fc .fc-toolbar.fc-header-toolbar {
		font-size: var(--fs-300);
	}
}

@media (max-width: 910px) {
	.fc .fc-event-future {
		padding: 0.5rem;
	}
}
@media (max-width: 350px) {
	.fc-toolbar-title {
		padding-left: 1rem;
		font-size: 1em;
	}
	.fc .fc-bg-event {
		width: 25px;
		height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
	}
	.fc .fc-daygrid-day.fc-day-today::before {
		width: 25px;
		height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
	}
}

.fc .fc-daygrid-bg-harness {
	overflow: visible;
}
