.fc .fc-toolbar.fc-header-toolbar {
	margin: 0.4rem;
}
.fc-header-toolbar .fc-toolbar {
	margin: 0px, 3rem;
}
.fc .fc-bg-event {
	opacity: 100;
	display: flex;
	margin: 0.7rem;
	border-radius: 8px;
}
.fc-theme-standard .fc-day:has(.fc-event-start):hover {
	opacity: 0.9 !important;
	animation: pulse 0.3s linear 1;
} /* event ustunde hoverlayınca opacity azaltma */
.fc .fc-daygrid-day-number {
	padding: 0;
	z-index: 0;
}
.fc-header-left,
.fc-header-center,
.fc-header-right {
	width: 100%;
	display: block;
}

/* calendarın kendi borderını kapamak icin */
.fc-theme-standard td,
.fc-theme-standard th {
	border: none !important;
}
.fc .fc-scrollgrid {
	border-width: 0px !important;
}

.fc .fc-day-today {
	background: #191917 !important; /* todays color we can make it transparent and stuff if u want */
	border-radius: 8px;
}

.fc .fc-daygrid-day-top {
	display: flex;
	justify-content: center;
	align-self: center;
} /* gunleri ortalıyor */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
	min-height: 0;
} /* var olmayan eventlerin bos alan kaplamaması icin */
.fc .fc-daygrid-day-frame {
	display: flex;
	justify-content: center;
}
.fc a:hover {
	opacity: 1 !important;
} /*abi ben linkleri genel otomatik hoverlama vermistim burda onu kapadım aslında onu da animation yapıncakapıycam*/
.fc {
	max-width: 750px;
}
.fc .fc-cell-shaded,
.fc .fc-day-disabled {
	background: none;
}
@media (max-width: 1650px) {
	.fc .fc-toolbar.fc-header-toolbar {
		font-size: var(--fs-400);
	}
}
@media (max-width: 1100px) {
	.fc .fc-toolbar.fc-header-toolbar {
		font-size: var(--fs-300);
	}
}
