.event-item-inner-container {
	text-align: center;
	z-index: 5;
	position: relative;
}
.event-item-container {
	padding: 3rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	max-height: 50vh;
	max-width: 480px;
}
