.event-item-inner-container {
	text-align: center;
	z-index: 5;
	position: relative;
}
.event-item-container {
	background-color: var(--clr-accent-600);
	padding: 4rem 2rem;
	border-radius: 15px;
	height: 100%;
}
