.calendar-container {
	width: 65vw;
	display: grid;
	grid-template-columns: 4fr 6fr;
	margin-inline: auto;
}
.event-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 60vw;
	margin-inline: auto;
	padding: 1rem;
	overflow: hidden !important; /*needed dont delete dont ask questions*/
	/* grid-template-rows: 1fr 1fr 1fr; */
}
.page-poster-container {
	overflow: hidden;
	height: 40vh;
	position: relative;
	display: flex;
	justify-content: center;
}
.hero-text {
	position: relative;
	align-self: center;
	height: 70%;
}
.dark-background {
	width: 100%;
	padding: 3rem 0;
	background-color: var(--clr-primary-500);
}

@media (max-width: 1350px) {
	.calendar-container {
		grid-template-columns: 4fr 4fr;
		width: 70vw;
	}
	.calendar-container .border-container {
		gap: 0.5rem;
	}
	.calendar-container .class-logo {
		height: 1.8rem;
	}
}
@media (max-width: 1150px) {
	.calendar-container {
		grid-template-columns: 5fr 4fr;
		width: 80vw;
	}
}

@media (max-width: 1000px) {
	.event-container {
		width: 80vw;
	}
	.calendar-container {
		grid-template-columns: 1fr;
		width: 65%;
		gap: 3rem;
	}
	.calendar-container .class-logo {
		height: 2.3rem;
	}
}
@media (max-width: 640px) {
	.event-container {
		width: 65vw;
		grid-template-columns: 1fr;
	}
	.calendar-container {
		width: 80%;
	}
}
